<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charly's Snakehouse</title>
</head>
<body>
    <section class="header">
        <nav> 
            <a href="index.html">Home</a>
            <a href="create.html">Post</a>
        </nav>
        <h1> 
            Python Learning Journal
        </h1>
        <h2>A place for laying down newly-acquired knowledge</h2>
    </section>
    <section id="create-form">
        <fieldset>
            <h1>New Post</h1>
            <form>
                <input id="title" type="text" pleaceholder="Title">
                <textarea name="textarea" placeholder="What have you learned?"></textarea>
            </form>
        </fieldset>


    </section>
</body>
</html>